body, html {
  text-align: center;
}

img.moyinguis {
  width: 90%;
  padding-top: 150px;
}

p {
  font-family: 'muli', sans-serif;
  font-weight: 400;
  color: #264c55;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 20px;
}

ul, li {
  padding: 0;
	list-style: none;
  display: inline;
  margin-top: 70px;
}

li {
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
}

.button {
  height: 95px;
  width: 120px;
  position: relative;
  text-decoration: none;
}

.front, .back {
  width: 90px;
  height: 90px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.front {
  z-index: 2;
  top: 0;
  left: 0;
}

.back{
  top: 6px;
  left: 6px;
}

.front:hover {
  transform: translate(6px,6px);
  -webkit-transform: translate(6px,6px);
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.front-behance {
  background-image:url("behance.png");
}

.back-behance {
   background-image:url("behance-fondo.png");
}

.front-twitter {
  background-image:url("twitter.png");
}

.back-twitter {
   background-image:url("twitter-fondo.png");
}

.front-insta {
  background-image:url("instagram.png");
}

.back-insta {
   background-image:url("instagram-fondo.png");
}

.front-drib {
  background-image:url("dribbble.png");
}

.back-drib {
   background-image:url("dribbble-fondo.png");
}

.front-mail {
  background-image:url("mail.png");
}

.back-mail {
   background-image:url("mail-fondo.png");
}
